//! **************************************************************************
// Written by: Map P.20131013 on Tue May 21 21:34:31 2024
//! **************************************************************************

SCHEMATIC START;
COMP "SPI_SCK" LOCATE = SITE "U16" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "N10" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "T4" LEVEL 1;
COMP "SPI_SS_B" LOCATE = SITE "U3" LEVEL 1;
COMP "Busy" LOCATE = SITE "F12" LEVEL 1;
COMP "RESET" LOCATE = SITE "V4" LEVEL 1;
COMP "Clk_50MHz" LOCATE = SITE "C9" LEVEL 1;
COMP "DAC_CS" LOCATE = SITE "N8" LEVEL 1;
COMP "DAC_CLR" LOCATE = SITE "P8" LEVEL 1;
COMP "AD_CONV" LOCATE = SITE "P11" LEVEL 1;
COMP "FPGA_INIT_B" LOCATE = SITE "T3" LEVEL 1;
COMP "PS2_Data" LOCATE = SITE "G13" LEVEL 1;
COMP "PS2_Clk" LOCATE = SITE "G14" LEVEL 1;
NET "Clk_50MHz_BUFGP/IBUFG" BEL "Clk_50MHz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
NET "Clk_50MHz_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

